	body{
		height: 100vh;
		width: 100%;
		padding: 0px;
		margin: 0;
	}
	
	#Window{
		//border: solid;
		font-family: Arial, Helvetica, sans-serif;
		height: 100%;
	}
	.Scene{
		width: 100%;
		height: 100%;
		//border: solid;
		//border-color: red;
	}

	.MenuButton{
		text-align: center;
		margin: auto;
		background-color: #5555FF;
		max-width: 65%;
		border-radius: 25px;
		color: white;
		font-size: 2em;
		padding: 22px;}	
	.MenuButtonEmptySpace{
		text-align: center;
		margin: auto;
		max-width: 65%;
		border-radius: 25px;
		color: white;
		height: 10%;
		font-size: 2em;
		padding: 22px;}
	
	#Intro{
		background-color: black;
		border: solid;
		border-color: black;
	}
	
	#IntroStory{
		width: 75%;
		margin-left: auto;
		margin-right: auto;
		color: white;
		font-style: italic;
		font-size: 2em;
		margin-top: 40%;
	}
	

	
	#ContactsHeader{
		height: 10%;
		width: 100%;
		//border: solid;
		//border-color: green;
		background-color: #5555FF;
		color: white;
	}
	
	#ContactsHeaderName{
		height: 100%;
		float: left;
		padding-left: 3%;
		padding-top: 2%;
		font-size: 2em;
		width: 40%;
	}

	#ContactsHeaderClock{
		height: 100%;
		float: right;
		text-align: right;
		width: 40%;
		font-size: 2em;
		padding-right: 3%;
		padding-top: 3%;
	}
	

	
	#ContactsContacts{
		margin-top: 4%;
		height: 85%;
		width: 100%;
		color: black;
	}
	.Contact{
		margin-top: 3%;
		width: 100%;
		height: 17%;
		font-size: 2em;
	}
	.ContactImg{
		display: inline-block;
		height: 95%;
		float: left;
	}
	.ContactImg img{
		border-radius: 100px;
		height: 95%;
	}
	.ContactText{
		margin: 0px;
		display: inline-block;
		height: 95%;
		width: 65%;
		border-color: red;
		float: left;
	}
	.ContactTextName{
		display: block;
		height: 30%;
		margin-left: 20px;
		margin-top: 20px;
	}
	.ContactTextLastMessage{
		display: block;
		height: 30%;
		margin-left: 20px;
		color: #999999;
	}
	.ContactOther{
		float: left;
		width: 10%;
		height: 95%;
		display: inline-block;
	}
	.ContactOtherTimestamp{
		height: 30%;
		width: 95%;
		margin-top: 20px;
		text-align: right;
	}
	.ContactOtherSeen{
		height: 30%;
		width: 95%;
		color: #999999;
		text-align: right;
		font-style: italic;
	}
	

	div{
		//border: solid;
		//border-color: black;
	}
	img{
		//border: solid;
		//border-color: black;
	}
	
	#ChatHeader{
		width: 100%;
		height: 12%;
		background-color: #5555FF;
		display: block;
		color: white;
		font-size: 2em;
		z-index: 200;
	}
	#ChatBack{
		display: inline-block;
		float: left;
		width: 10%;
		height: 99%;
		margin-left: 2%;
	}
	#ChatBack img{
		width: 99%;
		margin-top: 25%;
	}
	#ChatImg{
		float: left;
		display: inline-block;
		height: 99%;
		margin-left: 3%;
		position: relative;
	}
	#ChatImg img{
		height: 80%;
		bottom: 2px;
		border-radius: 200px;
		margin-top: 10%;
	}
	#ChatAux{
		display: inline-block;
		width: 35%;
		height: 99%;
		float: left;
		margin-left: 5%;
	}
	#ChatName{
		display: block;
		width: 99%;
		height: 30%;
		margin-top: 6%;
	}
	#ChatLastOnline{
		display: block;
		width: 99%;
		height: 35%;
		overflow-x: hidden;
		overflow-y: none;
	}
	#ChatCall{
		display: inline-block;
		float: right;
		width: 13%;
		height: 99%;
	}
	#ChatCall img{
		width: 99%;
	}
	#ChatInfo{
		display: inline-block;
		float: right;
		width: 13%;
		height: 99%;
	}
	#ChatInfo img{
		width: 99%;
	}
	
	#ChatBody{
		width: 100%;
		height: 60%;
		overflow-y: scroll;
		overflow-x: hidden;
	}
	#ChatTyping{
		font-style: italic;
		margin: auto;
		width: 50%;
		height: 5%;
		text-align: center;
		font-size: 2em;
		color: #333333;
	}
	#ChatChoices{
		width: 100%;
		height: 20%;
		font-size: 2em;
		color: white;
		background-color: #EEEEEE;
	}
	#ChatChoicesChoices{
		float: left;
		width: 75%;
		height: 90%;
	}
	#ChatChoicesSend{
		float: right;
		width: 19%;
		height: 94%;
		background-color: #5555FF;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
	}
	#ChatChoicesSend img{
		width: 50%;
		margin-top: 35%;
		margin-left: 20%;
	}
	#ChatChoice1{
		height: 30%;
		text-align: center;
		line-height: 1.6em;
		background-color: #AAAAFF;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
	}
	#ChatChoice2{
		height: 30%;
		text-align: center;
		line-height: 1.6em;
		background-color: #AAAAFF;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		margin-top: 2%;
	}
	#ChatChoice3{
		height: 30%;
		text-align: center;
		line-height: 1.6em;
		background-color: #AAAAFF;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		margin-top: 2%;
	}
	
	@media (orientation:portrait){
		#Window{
			width: 100%;
			height: 100%;}
	
	.MessageWrapper{
		width: 100%;
		height: auto;
		display: block;
		margin-top: 1.5%;
		//border: solid;
		overflow: auto;
	}
	.SentChatMessage{
		text-align: left;
		float: right;
		background-color: #5555FF;
		max-width: 65%;
		border-radius: 25px;
		color: white;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 2em;
		padding: 22px;}
		
	.ReceivedChatMessage{
		text-align: left;
		float: left;
		background-color: #EEEEEE;
		max-width: 65%;
		border-radius: 25px;
		color: black;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 2em;
		padding: 22px;
	}
}