
:root {
    --spell-icon-width: 64px;
    --text-symbol-width: 20px;
    --spell-border-color: #95959b;
    --spell-background-color: rgb(255, 253, 248);
    --spell-font-size: 1.2em;
}

.spell {
    width: 450px;
    background-color: var(--spell-background-color);
    border: solid var(--spell-border-color) 2px;
    border-radius: 4px;
    display: flex;
}
.spell-talent {
    border-color: rgb(199, 53, 114);
}

.spell h3 {
    font-weight: bold;
}
.spell-left {
    width: 90px;
}
.spell-left img {
    width: var(--spell-icon-width);
    display: block;
    margin: auto;
    margin-top: var(--padding-normal);
    border: solid var(--spell-border-color) 2px;
    border-radius: 8px;
}
.spell-right {
    flex: 1;
    padding: var(--padding-normal);
    padding-left: 0px;
}

.spell-right p {
    margin: 0px;
    padding: 0px;
    line-height: 1.25em;
}
.spell-actions-parenthesis { opacity: 0.15; }
.spell-actions { color: var(--color-action); }
.spell-text-property { font-weight: bold; }
.spell-cost { color: var(--color-charge); }
.spell-property { color: #AA8800; letter-spacing: 0.05em; }
.spell-extra {
    color: gray;
    font-style: italic;
    font-size: 1em;
}
.spell-extra img {
    opacity: 0.35;
}

.spell-description {
    margin-top: 8px !important;
    font-size: var(--spell-font-size);
}
.spell-container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}