:root {
    --normal-font-size: 21px;
    --title-font-size: 50px;

    --menu-font-color-inactive: white;
    --menu-font-color-active: rgb(255, 194, 115);
    --color-gold: rgb(255, 204, 136);
    --color-dark: rgb(48,48,48);
    --color-action: #5194f0;
    --color-charge: #67d6d0;
    --padding-normal: 12px;

    --max-page-content-width: 1300px;
    --sidebar-width: 300px;
    --top-nav-height: 65px;


    --background-color: white;

    --bootstrap-default-nav-padding: 0.5rem;
}