/* Root container */
.ls-counter {
  --h: 44px;
  --radius: 12px;
  --bg: #111;
  --fg: #f2f2f2;
  --hover-color: #333;
  --color: rgb(71, 88, 124);

  display: inline-grid;
  grid-template-columns: var(--h) minmax(64px, 1fr) var(--h);
  align-items: center;

  width: 70%;
  height: var(--h);
  border-radius: var(--radius);
  color: var(--fg);
  border: 1px solid rgba(255, 255, 255, 0.12);
  overflow: hidden;
  user-select: none;
}
.ls-counter.smaller {
  width: auto;
}


/* Buttons */
.ls-counter__btn {
  height: 100%;
  width: var(--h);
  display: grid;
  place-items: center;

  border: 0;
  background: var(--bg);
  color: inherit;
  cursor: pointer;

  font-size: 18px;
  font-weight: 600;
  line-height: 1;

  transition: background 120ms ease, transform 120ms ease;
}
.ls-counter__btn:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.ls-counter__btn:nth-child(3) {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.ls-counter.with-image .ls-counter__btn {
  border-top-right-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-top-left-radius: var(--radius);
  border-bottom-left-radius: var(--radius);
}

.ls-counter__btn:hover {
  background: var(--hover-color);
}

.ls-counter__btn:active {
  transform: translateY(1px);
}

.ls-counter__btn:focus-visible {
  outline: 2px solid rgba(255, 255, 255, 0.35);
  outline-offset: -2px;
}

/* Disabled state */
.ls-counter__btn:disabled {
  color: rgb(102, 102, 102);
  background-color: #111;
  cursor: not-allowed;
}

/* Center value */
.ls-counter__value {
  height: 100%;
  display: grid;
  place-items: center;
  background-color: var(--color);
}
.ls-counter.with-image .ls-counter__value {
  background-color: transparent;
}
.ls-counter__number {
  position: relative;
  z-index: 20;
}
.background-img {
  position: absolute;
  height: var(--h);
  z-index: 10;
}
.text-icon {
  height: calc(0.8 * var(--h));
  padding-top: calc(0.2 * var(--h));
  padding-left: 0.5rem;
}