
* {
  vertical-align: top;
  box-sizing: border-box;
}

@media (orientation: landscape) {
  * {
    scroll-behavior: smooth;
  }
}

html {
  overflow-x: hidden; /* Prevents mobile scrolling to the right on some devices */
}

body {
  font-family: var(--font-text);
  font-size: var(--p-size);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.page {
    width: 100%;
    height: 100vh;
}

textarea {
  font-family: TextFont;
  font-size: 1rem;
}

p {
  margin-top: 0px;
  /* margin-bottom: var(--element-padding); */
  line-height: 1.4em;
  font-size: var(--p-size);
  white-space: pre-wrap;
}

a {
  color: black;
  text-decoration: none;
}
h4 {
  font-size: var(--h4-size);
  font-family: HomeFont;
  color: var(--theme-color-1-darker);
}

#Window {
  background-color: #222;
  width: 100%;
  min-height: calc(100vh - var(--nav-height));
  margin: 0px;
  padding: 0px;
}
#Window-Content {
  padding-top: var(--nav-height);
}

.footer {
  min-height: 175px;
  background-color: var(--dark-gray-color);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.footer img {
  display: block;
  
  height: 50px;
  width: 50px;

  filter: grayscale(0.75) opacity(0.5);
  cursor: pointer;
}
.footer img:hover {
  filter: none;
  opacity: 1;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-auto {
  overflow: auto;
}
.flex {
  display: flex;
}
.inline-flex {
  display: inline-flex !important;
}
.align-left {
  justify-content: left !important;
}
.align-center {
  justify-content: center !important;
}
.flex-row, .flex.row {
  display: flex;
  flex-direction: row;
}
.flex-column, .flex.column {
  display: flex;
  flex-direction: column;
}
.flex-responsive, .flex-direction-responsive, .flex-responsive-row-or-column, .flex-responsive-row-or-col {
  display: flex;
  flex-direction: row !important;
}
@media (orientation: portrait) {
  .flex-responsive, .flex-direction-responsive, .flex-responsive-row-or-column, .flex-responsive-row-or-col {
    flex-direction: column !important;
  }
}
.left-content {
  display: flex;
  justify-content: flex-start;
}
.space-evenly {
  display: flex;
  justify-content: space-evenly;
}
.space-around {
  display: flex;
  justify-content: space-around;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.full-width, .width-100 {
  width: 100%;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}
.flex-grow, .flex-grow-1 {
  flex-grow: 1;
}







/*---------------- Position & Alignment ----------------*/
.relative, .position-relative {
  position: relative;
}
.absolute, .position-absolute {
  position: absolute !important;
}

.text-align-center, .center-text {
  text-align: center;
}
.text-align-left {
  width: 100%;
  text-align: left;
}
.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.center-content.row, .center-content-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.right-content {
  display: flex;
  flex-direction: row;
  justify-content: end;
  /* align-items: end; */
}

.padded {
  padding: 1.5rem;
}
.space-top {
  padding-top: 5rem;
}
.margin-top-0 {
  margin-top: 0px;
}
.margin-top-half {
  margin-top: 0.5rem;
}
.margin-top-quarter {
  margin-top: 0.75rem;
}
.margin-top-3q {
  margin-top: 0.75rem;
}
.margin-top-1 {
  margin-top: 1rem;
}
.margin-top-2 {
  margin-top: 2rem;
}
.margin-top-3 {
  margin-top: 3rem;
}
.margin-top-4 {
  margin-top: 4rem;
}
.margin-bottom-0 {
  margin-bottom: 0px;
}
.margin-bottom-half {
  margin-bottom: 0.5rem;
}
.margin-bottom-1 {
  margin-bottom: 1rem;
}
.margin-bottom-2 {
  margin-bottom: 2rem;
}
.margin-bottom-4 {
  margin-bottom: 4rem;
}

.padding-half {
  padding: 0.5rem;
}
.padding-quarter {
  padding: 0.25rem;
}
.padding-3q {
  padding: 0.75rem;
}
.padding-1 {
  padding: 1rem;
}
.padding-2 {
  padding: 2rem;
}
.padding-3 {
  padding: 3rem;
}
.padding-4 {
  padding: 4rem;
}
.padding-bottom-half {
  padding-bottom: 0.5rem;
}
.padding-bottom-quarter {
  padding-bottom: 0.25rem;
}
.padding-bottom-3q {
  padding-bottom: 0.75rem;
}
.padding-bottom-1 {
  padding-bottom: 1rem;
}
.padding-bottom-2 {
  padding-bottom: 2rem;
}
.padding-bottom-3 {
  padding-bottom: 3rem;
}
.padding-bottom-4 {
  padding-bottom: 4rem;
}
.padding-top-quarter {
  padding-top: 0.25rem;
}
.padding-top-half {
  padding-top: 0.5rem;
}
.padding-top-3q {
  padding-top: 0.75rem;
}
.padding-top-1 {
  padding-top: 1rem;
}
.padding-top-2 {
  padding-top: 2rem;
}
.padding-top-3 {
  padding-top: 3rem;
}
.padding-top-4 {
  padding-top: 4rem;
}
.gap-quarter {
  gap: 0.25rem;
}
.gap-half {
  gap: 0.5rem;
}
.gap-3q {
  gap: 0.75rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-3 {
  gap: 3rem;
}
.gap-4 {
  gap: 4rem;
}
.top-0 {
  top: 0px;
}
.left-0 {
  left: 0px;
}
.right-0 {
  right: 0px;
}
.bottom-0 {
  bottom: 0px;
}

.flex-content {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
}
.flex.column {
  flex-direction: column;
}
.flex-content.center {
  justify-content: center;
}
.flex-content.wrap {
  flex-wrap: wrap;
}
.flex-content.right, .flex-content.align-right {
  justify-content: end;
}
.flex-wrap, .flex.wrap, .wrap {
  flex-wrap: wrap;
}

.columns {
  display: flex;
  flex-direction: row;
}
@media (max-width: 1080px) {
  .columns {
      flex-direction: column;
  }
}
.columns > div, .columns .column {
  flex-grow: 1;
  flex: 1;
  position: relative;
}



/*---------------- Utility ----------------*/
.hidden {
  display: none !important;
  visibility: hidden;
}




/*---------------- Aesthetics ----------------*/
.unselectable {
  user-select: none;
}
.pointer, .cursor-pointer {
  cursor: pointer;
}
.strikethrough {
  text-decoration: line-through;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.subtext {
  color: var(--spell-notes-color);
  font-style: italic;
  font-size: calc(var(--p-size) * 0.8);
}

.shadowed, .shadow {
  box-shadow: rgba(55, 55, 55, 0.2) 0px 2px 8px;
}
.shadowed.more, .shadow.more {
  box-shadow: rgba(55, 55, 55, 1) 0px 2px 8px;
}
.shadowed-half, .shadow-half {
  box-shadow: rgba(55, 55, 55, 0.1) 0px 2px 8px;
}
.shadowed-bottom, .shadow-bottom {
  box-shadow: 0px 6px 8px -5px rgba(55, 55, 55, 0.2);
}
img.shadowed, img.shadow {
  box-shadow: none;
  -webkit-filter: drop-shadow(5px 5px 5px rgba(55, 55, 55, 0.2));
  filter: drop-shadow(3px 3px 5px rgba(55, 55, 55, 0.5));
}
img.shadowed-bottom, img.shadow-bottom {
  box-shadow: none;
  -webkit-filter: drop-shadow(3px 3px 5px rgba(55, 55, 55, 0.5));
  filter: drop-shadow(0px 4px 3px rgba(55, 55, 55, 0.3));
}
.shadowed-purple, .shadow-purple {
  -webkit-box-shadow: 0px 0px 15px -6px var(--theme-color-1-light), 0px 0px 15px -6px var(--theme-color-1-light), 0px 0px 15px -6px var(--theme-color-1-light), 0px 0px 15px -6px var(--theme-color-1-light);
  -moz-box-shadow: 0px 0px 15px -6px var(--theme-color-1-light), 0px 0px 15px -6px var(--theme-color-1-light), 0px 0px 15px -6px var(--theme-color-1-light), 0px 0px 15px -6px var(--theme-color-1-light);
  box-shadow: 0px 0px 15px -6px var(--theme-color-1-light), 0px 0px 15px -6px var(--theme-color-1-light), 0px 0px 15px -6px var(--theme-color-1-light), 0px 0px 15px -6px var(--theme-color-1-light);
}

.rounded {
  border-radius: 0.75rem;
}
.rounded-left {
  border-top-left-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}
.round-borders, .round {
  border-radius: 9999px;
}

img.cover, img.img-cover, img.object-fit-cover {
  object-fit: cover;
}


button {
  background-color: var(--theme-color-1);
  
  font-family: HomeFont;
  font-weight: normal;
  font-size: var(--h3-size);
  color: white;

  border: none;
  border-radius: 5px;

  transition: background-color 0.1s linear;
}

button:hover {
  cursor: pointer;
  background-color: var(--orange-color);
}
@media (max-width: 1080px) {
  button {
    font-size: var(--p-size);
  }
}

.warning-toaster {
  display: block;
  margin: auto;

  background-color: #ffe8b5;
  border: solid #d29c26 1px;
  border-radius: 5px;
  
  width: 70%;
  padding: 1rem 0px 1rem 0px;

  color: #9c6b00;
  font-family: HomeFont;
  font-weight: normal;
  font-size: 1rem;
  text-align: center;
}





input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  cursor: pointer;
  width: 30%;
}
input[type="range"]:hover {
  opacity: 1;
}
input[type="range"]::-webkit-slider-runnable-track {
  background-color: #ffffff;
  border: solid var(--theme-color-1-darker) 3px;
  border-radius: 0.5rem;
  height: 25px;  
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  margin-top: 2px; /* Centers thumb on the track */

  /*custom styles*/
  background-color: var(--theme-color-1-darker);
  height: 15px;
  width: 15px;
  border-radius: 4px;
}
/* slider track */
input[type="range"]::-moz-range-track {
  background-color: #ffffff;
  border: solid var(--theme-color-1-darker) 3px;
  border-radius: 0.5rem;
  height: 25px;  
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
  border: none; /*Removes extra border that FF applies*/
  border-radius: 0; /*Removes default border-radius that FF applies*/

  /*custom styles*/
  background-color: var(--theme-color-1-darker);
  height: 15px;
  width: 15px;
  border-radius: 4px;
}

.tag {
  background-color: var(--theme-color-1-darker);
  color: white;
  font-size: calc(var(--p-size) * 0.75);
  padding: 3px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.25rem !important;
}

.keyboard-key {
  padding: 0.5em;
  
  background-color: #E0E0E0;
  border-radius: 4px;
  border-bottom: solid 3px #C0C0C0;

  font-family: Arial;
  font-size: 0.75em;
}


.title-text {
  font-family: NewTitleFont;
  letter-spacing: 0.25vw;

  /* font-weight: 200; */
  color: var(--theme-color-1-darker);
  /* -webkit-text-stroke: 8px rgb(0, 0, 0);
  -webkit-text-fill-color: white;
  paint-order: stroke fill; */
  /* text-shadow: #000000 1px 0 10px, #000000 1px 0 10px; */
}

.breathing-glow {
  --color-1: rgba(168, 92, 255, 0);
  --color-2: rgba(168, 92, 255, 1);

  /* the glow */
  box-shadow: 0 0 0px var(--color-1);
  animation: glow-breathe 2.2s ease-in-out infinite;
}
@keyframes glow-breathe {
  0%, 100% {
    box-shadow:
      0 0 12px var(--color-1);
      /* 0 0 18px rgba(0, 200, 255, 0.10); */
    transform: scale(1);
  }
  50% {
    box-shadow:
      0 0 18px var(--color-2);
      /* 0 0 36px rgba(0, 200, 255, 0.25),
      0 0 60px rgba(0, 200, 255, 0.12); */
  }
}

